@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

:root {
    --border-height: 2px;
    --border-before-color: transparent;
    --border-after-color: #ffbf59;
  }
  